<div class="container">
  <h3>LOGIN HERE!!!!</h3><br>
<form class="mt-2">
  <div class="form-group row">
    <label for="colFormLabelSm1" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control form-control-sm" id="colFormLabelSm1"  type="email"  placeholder="Email-Id Here " required>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Password</label>
    <div class="col-sm-10">
      <input type="email" class="form-control form-control-sm" id="colFormLabelSm"  type="password"  placeholder="Password Here" required>
    </div>
  </div>
  <br>
    <div class="form-group d-flex justify-content-center" >
      <button type="submit" class="btn bg-primary">Click To continue</button>
   </div>
 </form>
   <a href="#" class="customise--fp">Forgot Password????</a>
   <br><br><br><br>
   <a href="#" class="customise--rh">Hasn't signed up.Register Here  </a>
   <br><br>

</div>
