<br>
<br>
<br>

<div class="row mt-5">
    <div class="card ml-1 mx-2" style="width: 18rem;">
        <img src="../../assets/61O48yDnSgL._SL1100_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Radish 500Kg</h5>
            <p class="card-text">Current Bid by-Rajendra Prasad Bid valid till=1/Jan/2021 <br>Curr Bid=Rs {{+radishBid.toFixed(1)}}/-
            </p>
          <div class="d-flex flex-row">
            <div>
              <a (click)="increaseRadishBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
          </div>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="../../assets/fresh-lady-finger-500x500.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lady Finger 455Kg</h5>
            <p class="card-text">Current Bid by-Vidya Ranjan <br> Bid valid till=30/Dec/2020 <br>Curr Bid=Rs {{+ladyFingerBid.toFixed(1)}}/-</p>
            <div class="d-flex flex-row">
            <div>
              <a (click)="increaseLadyFingerBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
            </div>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="../../assets/fresh-potato-500x500-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Potato 4050Kg</h5>
            <p class="card-text">Current Bid by-Ram Narayan <br> Bid valid till=25/dec/2020 <br>Curr Bid=Rs {{+potatoBid.toFixed(1)}}/-</p>
            <div class="d-flex flex-row">
            <div>
              <a (click)="increasePotatoBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
            </div>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="../../assets/sweet-potatoes_commodity-page.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sweet Potato 675Kg </h5>
            <p class="card-text">Current Bid by-Divya Sharam <br>Bid valid till=30/Jan/2021 <br>Curr Bid=Rs {{+sweetPotatoBid.toFixed(1)}}/-</p>
            <div class="d-flex flex-row">
            <div>
              <a (click)="increaseSweetPotatoBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
            </div>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="../../assets/51c2cQcI2jL._SX466_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Spinach 100Kg</h5>
            <p class="card-text">Current Bid by-Varad Khokle <br> Bid valid till=05/Jan/2021 <br>Curr Bid=Rs {{+spinachBid.toFixed(1)}}/-</p>
            <div class="d-flex flex-row">
            <div>
              <a (click)="increaseSpinachBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="card ml-1 mx-2" style="width: 18rem;">
        <img src="../../assets/pumpkin.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pumpkin 50Kg</h5>
            <p class="card-text">Current Bid by-Ragini Besva <br> Bid valid till=11/Feb/2021 <br>Curr Bid=Rs {{+pumpkinBid.toFixed(1)}}/-
            </p>
            <div class="d-flex flex-row">
            <div>
              <a (click)="increasePumpkinBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
            </div>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="../../assets/tomato.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tomato 145 Kg</h5>
            <p class="card-text">Current Bid by-C. Pujara <br> Bid valid till=20/Feb/2021 <br>Curr Bid=Rs {{+tomatoBid.toFixed(1)}}/-</p>
            <div class="d-flex flex-row">
            <div>
              <a (click)="increaseTomatoBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
            </div>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="../../assets/mirchi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mirchi 40Kg </h5>
            <p class="card-text">Current Bid by-Rajnath Singh <br> Bid valid till=1/Mar/2021 <br>Curr Bid=Rs {{+mirchiBid.toFixed(1)}}/-</p>
            <div class="d-flex flex-row">
            <div>
              <a (click)="increaseMirchiBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
            </div>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="../../assets/images.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Onion 900Kg</h5>
            <p class="card-text">Current Bid by-Komal Rajavat <br> Bid valid till=15/Feb/2021 <br>Curr Bid=Rs {{+onionBid.toFixed(1)}}/-</p>
            <div class="d-flex flex-row">
            <div>
              <a (click)="increaseOnionBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
            </div>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="../../assets/shimlamirch.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Shimla Mirchi 144 Kg</h5>
            <p class="card-text">Current Bid by-Raghav Dongre <br> Bid valid till=1/March/2021 <br>Curr Bid=Rs {{+shimlaMirchi.toFixed(1)}}/-</p>
            <div class="d-flex flex-row">
            <div>
              <a (click)="increaseShimlaMirchiBid()" class="btn btn-primary m-2">Increase Bid</a>
            </div>
            <div>
              <a (click)="success()" class="btn btn-primary m-2">Confirm</a>
            </div>
            </div>
        </div>
    </div>
</div>
