#carouselExampleIndicators
{
  margin-top: 70px;
}

footer{
  background-color: black;
  color: white;
}

footer a{
  color: white;
}

pre{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}
